
#sidebar {
  width: 22%;
  height: 660px;
  }
  





#content{
  width: 75%;
  height: 652px;
} 
.destra {
    float:left;
    padding: 10px 10px 10px 0; 
}

.sinistra {
    float:right;
    padding: 10px 0 10px 10px;
}
#content h3{
    font-family:Calibri;
    font-weight: bold;
    font-size: 20px;
    color:#A60000;
}
#content p{
    font-size: 16px;
}
#first2 {
    font-family: Calibri;
    font-weight: bold;
    font-size: 22px;
    color: #A60000;
}
#form{
    background-color: white;
    margin-right: 200px;
    margin-left: 200px;
    padding-bottom: 50px;
    padding-top: 10px;
    margin-top: 20px;
    border: 5px solid black;
    
    
}
#form p{
    font-family: Calibri;
    font-size: 18px;
}

#elenco {
    background-color: white;
    border: 5px solid green;
    font-family: Calibri;
    font-size: 18px;
    color: black;
    padding: 5px;
    margin-left: 200px;
    margin-right: 200px;
}

#scelta{
    font-size: 22px;
    color: green;
}
#gruppi {
    background-color: white;
    border: 5px solid green;
    font-family: Calibri;
    font-size: 18px;
    color: black;
    padding: 5px;
    margin: 3px;
}
#gruppi:hover{
    background-color: gray;
}

#errore{
    border: 2px solid red;
    color: red;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
#errore p.errore{
    font-size: 12px;
}


footer {
    position: relative;
    width: 98%;
    height: 30px;
    background-color: #EEE;
    text-align: right;
    color: #666;
    font-family: Arial;
    font-size: 14px;
    padding-right: 7px;
    border-right: 1px solid #999;
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-image: none;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
